# npm 中国大陆镜像源配置
registry=https://registry.npmmirror.com/
disturl=https://npmmirror.com/dist
electron_mirror=https://npmmirror.com/mirrors/electron/
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs/
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver/
operadriver_cdnurl=https://npmmirror.com/mirrors/operadriver/
fse_binary_host_mirror=https://npmmirror.com/mirrors/fsevents

# 网络配置
fetch-timeout=600000
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
fetch-retries=5

# 安全配置
audit=false
fund=false
